<div>
    <button mat-raised-button color="primary" (click)="create()">New house/flat</button>
</div>

<mat-form-field style="margin-top: 10px">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> number </th>
            <td mat-cell *matCellDef="let row"> {{row.number}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="blkNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> blkNo </th>
            <td mat-cell *matCellDef="let row"> {{row.blkNo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ownerID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ownerId </th>
            <td mat-cell *matCellDef="let row"> {{row.ownerID}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ownerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ownerName </th>
            <td mat-cell *matCellDef="let row"> {{row.ownerName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ownerPhoneNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ownerPhoneNo </th>
            <td mat-cell *matCellDef="let row"> {{row.ownerPhoneNo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="delegateName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> delegateName </th>
            <td mat-cell *matCellDef="let row"> {{row.delegateName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="delegateId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> delegateId </th>
            <td mat-cell *matCellDef="let row"> {{row.delegateId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="delegatePhoneNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> delegatePhoneNo </th>
            <td mat-cell *matCellDef="let row"> {{row.delegatePhoneNo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="buildingType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> buildingType </th>
            <td mat-cell *matCellDef="let row"> {{row.buildingType.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="condition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> condition </th>
            <td mat-cell *matCellDef="let row"> {{row.condition.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> city </th>
            <td mat-cell *matCellDef="let row"> {{row.city.name}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="neighbourhood">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> neighbourhood </th>
            <td mat-cell *matCellDef="let row"> {{row.neighbourhood.name}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="locality">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> locality </th>
            <td mat-cell *matCellDef="let row"> {{row.locality.name}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> state </th>
            <td mat-cell *matCellDef="let row"> {{row.state.name}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="edit(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button matTooltip="Click to delete" class="iconbutton" color="primary" (click)="delete(row)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<div style="margin-left: 50px">
    <notifier-container></notifier-container>
</div>