<div>
    <div>Enter citizen</div>
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required placeholder="e.g Khartoum">
                <mat-error *ngIf="form.get('name')?.invalid">Please enter a name.</mat-error>
            </mat-form-field>

            <ng-select [items]="nationalitiesList" bindLabel="name" placeholder="Select nationality" formControlName="nationality">
            </ng-select>
            <mat-error *ngIf="form.get('nationality')?.invalid">Please enter a nationality.</mat-error>

            <mat-checkbox formControlName="isGainingSupport">Pepperoni</mat-checkbox>

            <mat-dialog-actions>
                <button mat-button mat-dialog-close type="button">Cancel</button>
                <button mat-button type="submit" [disabled]="form.invalid" cdkFocusInitial>Save</button>
            </mat-dialog-actions>
        </form>
    </div>
</div>

<section class="example-section" [formGroup]="form">
    <h4>You chose:</h4>
    {{form.value | json}}
</section>