<div>
    <div>Enter Locality</div>
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required placeholder="e.g karrari">
                <mat-error *ngIf="form.get('name')?.invalid">Please enter a name.</mat-error>
            </mat-form-field>

            <ng-select required [items]="dropdownList" bindLabel="name" placeholder="Select city" formControlName="city">
            </ng-select>
            <mat-error *ngIf="form.get('city')?.touched && form.get('city')?.invalid">Please enter a city.</mat-error>

            <mat-dialog-actions>
                <button mat-button mat-dialog-close type="button">Cancel</button>
                <button mat-button type="submit" [disabled]="form.invalid" cdkFocusInitial>Save</button>
            </mat-dialog-actions>
        </form>
    </div>
</div>